DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=booking
POSTGRES_USER=booking
POSTGRES_PASSWORD=booking
POSTGRES_HOST=db
POSTGRES_PORT=5432
TIME_ZONE=Asia/Tashkent

# Docker: kompyuterdagi tashqi portlar (band bo'lsa o'zgartiring)
DB_HOST_PORT=5433
WEB_PORT=8000
